/*Estilos da pagina index.html*/
#menu li a:hover{
    color:#0778f1;
    background-color: transparent
}
.HFcenter {
    font-size: 45px;
    text-align: center;
    text-decoration: underline overline rgb(11, 235, 3);
    color: #0854e2;
    background-color: transparent;
}
.container{
    display: inline;
    flex-flow: row;
    justify-content: left;
    align-items: left;
    font-size: 30px;
    color: #20e406
}   
#menu li a{
    text-decoration: none;
    color: #20e406;
    font-size: 22px;
}
.backg{
    background-image: url("https://cutewallpaper.org/21/rainbow-six-siege-background/Rainbow-six-siege-background-4-Background-Check-All.jpg") ;
    background-repeat: no-repeat;
    background-color: #3008e2 ;
}
.center {
    font-size: 25px;
    text-align: left;
}
.center2 {
    font-size: 25px;
    text-align: right;
}
.box {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    border: 50%;
}
#menu li {
    display: inline;
    padding: 20px;
    background-color: transparent
}
.p-30 {
    padding: 30px;
}


/*Estilos da pagina Contatos.html*/